node_modules
public
.tmp
.idea
client/bower_components
dist
/server/config/local.env.js
npm-debug.log
coverage
.temp
**/*.sqlite
/frontend
win-template/TheApp/_internal/app/frontend-hexo/frontend/themes/corporate/source/bower_components
/output
