.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

.entity{
  font-weight: bold;
    padding-top: 3px;
    font-size: 30px;
    line-height: 1.42857143
}


.margin-15{
  margin:10px 0 15px 15px;
}
.table > tbody > tr > td{
  border-top:none !important;
}
.doc-scroll{
  height:450px;
  overflow:auto !important;
}
.email-scroll{
  max-height:200px;
  overflow:auto !important;
}
.email-edit{
  height:200px;
}
.fill{
  height: 100%
}
.form-scroll{
  max-height: 540px;
  overflow-y:auto;
}
.padding-right-clear{
  padding-right:0px !important;
}
@media screen and (min-width: 768px) {
  .modal-dialog.myModal  {width:1300px !important;}

}

.modal-body {
    height:750px;
}


body.modal-open { overflow:inherit; padding-right:inherit !important; }

.modal-content{
  max-height: 600px; 
    overflow: auto; 
}

.myModal.modal-content{
    max-height:800px;
}