.kue-list-jobs .types-dropdown span,
.kue-list-jobs .states-dropdown span {
  text-transform: capitalize;
}

.view-job-details p > strong {
  min-width: 70px; display: inline-block;
}

.label.label-inactive {
  color: #fff;
  background-color: #999;
}
